@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');
@import "tailwindcss";

@theme {
    /* Renk Paleti */
    --color-primary-dark: #5E0006;
    --color-primary: #9B0F06;
    --color-primary-light: #D53E0F;
    --color-cream: #EED9B9;
    --color-white: #FFFFFF;
    --color-black: #000000;

    /* Gölgeler */
    --shadow-primary: 0 10px 25px rgba(0, 0, 0, 0.2);
    --shadow-soft: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-heavy: 0 25px 50px rgba(0, 0, 0, 0.3);

    /* Yazı Tipleri */
    --font-logo: "Delicious Handrawn", cursive;
    --font-header: "Chiron GoRound TC", sans-serif;
    --font-paragraph: "National Park", sans-serif;

    /* Font Boyutları (Clamp değerleri korunmuştur) */
    --text-logo: 3.5rem;
    --text-h1-xl: clamp(12.5rem, 6vw, 13.5rem);
    --text-h1-lg: clamp(9rem, 6vw, 12.5rem);
    --text-h-2: clamp(2rem, 3vw, 3.5rem);
    --text-p: clamp(1rem, 1.2vw, 1.5rem);
    --text-sh: clamp(1.2rem, 1vw, 1.7rem);
    --text-b: clamp(0.5rem, 1vw, 1rem);

    /* Border Radius */
    --radius-button: 1.5rem;

    --animate-fadeIn: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 5px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: var(--color-primary-dark);
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: var(--color-primary-light);
        border-radius: 100vh;
        border: 3px solid var(--color-primary);
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: var(--color-cream);
    }
}
/* Component bazlı stiller ve ID seçiciler */
#navbar {
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--color-white);

    & .navbar-item:hover {
        color: var(--color-primary);
    }

    /**& #logo:hover {
        color: var(--color-white);
    }***/
}

#logo {
    font-weight: 400;
    font-style: normal;
    font-size: 3.4rem;
}

#logo-img {
    width: 48px;
    height: 45px;
}

#hero {
    background-color: var(--color-primary-dark);
}

#main-hero {
    margin-left: 20%;
}

